.logo{
    width: 150px;
    border-radius: 50%;
    margin: 5%;
    cursor: pointer;
}

.logo:hover {
    filter: drop-shadow(0 0 0.5em white);
  }

  .button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin: 10px;
    font-size: 1.2em;
    font-weight: 600;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
  .button:hover {
    border-color: white;
    color: white;
  }
  .button:focus,
  .button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }